<div>
	{{#if headerImg}}<div>
        <center><img src="{{ headerImg }}" class="odk-formlogo" /></center>
        <hr>
    </div>{{/if}}
    {{{localizeText display.finalize_survey_form_identification}}}
    <div class="instanceClearDiv"></div>
	    {{{localizeText display.finalize_survey_instance_detail}}}
        <center>
            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="finalize btn btn-default btn-lg" tabindex="0">{{localizeText display.finalize_survey_button_label}}</button>
                    </div>
                </div>
            </fieldset>
        </center>
    </div>
</div>
